<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="inputDirectory" value="C:\ImageMagick\Generations\PunkKubus\"/>
		<add key="dataJson" value="jsondata.txt"/>
		<add key="elementNames" value="background,head,clothes,ears,eyes,mouth,nose"/>
	</appSettings>
</configuration>