<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="outputDirectory" value="C:\ImageMagick\Generations\PunkKubus"/>
		<add key="outputExtenstion" value="jpg"/>
		<add key="amount" value="1000"/>
		<add key="elementsDirectory" value="C:\Users\kryst\Downloads\screenyDoPrezentacji\mis\"/>
		<add key="elementNames" value="background,head,clothes,ears,eyes,mouth,nose"/>
	</appSettings>
</configuration>